<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Appointments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .header {
            padding: 20px;
            text-align: center;
        }

        .header h1 {
            margin: 0;
        }

        .appointment-box {
            width: 80%;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            margin: 20px auto;
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: space-between; 
            min-height: 70vh; 
        }

        .patient-image {
            width: 30%; 
            margin: 20px;
        }

        .patient-image img {
            width: 60%;
            height: auto;
            max-height: 350px; 
        }

        .appointment-table {
            width: 90%; 
            border-collapse: collapse;
        }

        .appointment-table th,
        .appointment-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .appointment-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Upcoming Appointments</h1>
    </div>

    <div class="appointment-box">
        <div class="patient-image">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/012/852/501/small_2x/schedule-doctor-appointment-2d-isolated-illustration-healthcare-service-flat-characters-on-cartoon-background-planning-colourful-editable-scene-for-mobile-website-presentation-vector.jpg" alt="Patient Image">
        </div>
        <% if (appointments.length === 0) { %>
            <p>No upcoming appointments.</p>
        <% } else { %>
        <% appointments.forEach(appointment => { %>

        <table class="appointment-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= appointment.appointment_date %></td>
                    <td><%= appointment.appointment_time %></td>
                    <td><%=appointment.doctor_name %></td>
                    <td><%=appointment.symptoms%></td>
                </tr>
            </tbody>
        </table>
        <% }); %>
        <% } %>
        
        
    </div>

</body>
</html>