


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h2 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }
        form {
            width: 30%;
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }
        input[type="number"],
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        input[type="submit"]:hover {
            background-color: #27292c;
        }
        .image-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image-container img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/nurse-with-medicine-8369098-6631224.png" alt="Doctor">
    </div>
    <form action="/admin/submit-order" method="POST">
        <h2>Place an Order</h2>
        <label for="medicine">Select Medicine:</label>
        <select id="medicine" name="medicine">
            <% availableMeds.forEach(med => { %>
                <option value="<%= med.name %>"><%= med.name %></option>
            <% }); %>
        </select><br><br>

        <label for="qunatity">Enter Quantity (Limit : 300):</label>
        <input type="number" id="quantity" name="quantity" min="1" max="300" required><br><br>

        <input type="submit" value="Place Order">
    </form>
</body>
</html>
